<!DOCTYPE html>

 <html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

<title>uneekify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>

  <!-- Header and Nav -->
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"> uneekify </a></h1>
    </li>
  </ul>
</nav>
  <!-- End Header and Nav -->

<div class="row">
    <div class="twelve columns">
      <hr/>

<%= yield %>


  <hr/>
      <div id="slider">
        <img src="http://www.mxpainting.com.au/wp-content/uploads/2010/12/shutterstock_63800371-1000x400.jpg" />
        <img src="http://www.journeycounselling.ca/cms/wp-content/uploads/2012/10/Couple-intimacy-1000x400px.jpg" />
        <img src="http://www.casestudyo.com/wp-content/uploads/2012/08/sunshine-1000x400.jpg" />
        <img src="http://citizenj.edgeqld.org.au/wp-content/uploads/2013/06/origin_320161805-1000x400.jpg" />
        <img src="http://www.journeycounselling.ca/cms/wp-content/uploads/2012/11/Pre-marrigae-1000x400px.jpg" />
        <img src="http://evworld.com/images/volt_cabin1000x400.jpg" />
      </div>
   </ul>
  </div>
<hr/>
  <body>


  </body>
</html>




  <!-- Footer -->



      <div class="row - left">
        <div class="four columns">
          <p><h5>powered by:</h5></p>
          <img src="http://tightmixblog.com/wp-content/uploads/2010/12/logo-echonest.jpg" />
          <p>&copy; crowdburst 2013</p>
        </div>
      </div>
   <hr/>

    </footer>
  <!-- Included JS Files (Uncompressed) -->
  <!--

  <script src="javascripts/jquery.js"></script>

  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>

  <script src="javascripts/jquery.foundation.forms.js"></script>

  <script src="javascripts/jquery.event.move.js"></script>

  <script src="javascripts/jquery.event.swipe.js"></script>

  <script src="javascripts/jquery.foundation.reveal.js"></script>

  <script src="javascripts/jquery.foundation.orbit.js"></script>

  <script src="javascripts/jquery.foundation.navigation.js"></script>

  <script src="javascripts/jquery.foundation.buttons.js"></script>

  <script src="javascripts/jquery.foundation.tabs.js"></script>

  <script src="javascripts/jquery.foundation.tooltips.js"></script>

  <script src="javascripts/jquery.foundation.accordion.js"></script>

  <script src="javascripts/jquery.placeholder.js"></script>

  <script src="javascripts/jquery.foundation.alerts.js"></script>

  <script src="javascripts/jquery.foundation.topbar.js"></script>

  <script src="javascripts/jquery.foundation.joyride.js"></script>

  <script src="javascripts/jquery.foundation.clearing.js"></script>

  <script src="javascripts/jquery.foundation.magellan.js"></script>

  -->

  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>

  <script type="text/javascript">

     $(window).load(function() {
         $('#slider').orbit();
     });
     </script>



  </body>
</html>